<div class="formRow">Nombre: <%= producto.nombre || '' %></div>
    <div class="formRow">Precio: <%= producto.precio || '' %></div>
    <div class="formRow">Descripción: <%= producto.descripcion || '' %></div>
    <div class="formRow"><img src="../../<%= producto.img %>" alt="" width="100%" height="100%"></div>
    <form action="/delete/<%= producto.id %>" method="post">
        <input type="submit" value="Confirmar Eliminación">
    </form>