<form action="/edit/<%= producto.id %>" method="post">
    <h1>Editar producto:</h1>
    <div class="formRow">Nombre: <input type="text" name="nombre" value="<%= producto.nombre || '' %>"/></div>
    <div class="formRow">Precio: <input type="text" name="precio" value="<%= producto.precio || '' %>"/></div>
    <div class="formRow">Descripción: <textarea type="text" name="descripcion"><%= producto.descripcion || '' %></textarea></div>
    <div class="formRow">Imagen:
        <input type="file" name="files" accept="img/*" value="<%= producto.imagen || '' %>">
    </div>
    <div class="formRow"><input type="submit" value="Guardar Cambios"></div>
</form>


